* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body{
  background: #020617;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-card{
  background: #0f172a;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  color: #e5e7eb;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.todo-card h1{
  text-align: center;
  margin-bottom: 20px;
}
.input-area{
  gap:10px;
  display: flex;
}
input{
  border-radius: 5px;
  flex: 1;
  height: 40px;
  border: none;
  outline:none;
  text-align: center;
  font-size: 15px;
  background-color: #000000;
  color: #e5e7eb;
}
button{
  margin-left: 20px;
  background-color: #484545;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 3px 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
  opacity: 0.4;
}
button:hover{
  background-color: #cc0000;
  transform: scale(1.1);
  opacity: 1;
}

.Add{
  margin-left: 0;
  width: 130px;
  border-radius: 8px;
  color:white;
  background-color: rgb(18, 180, 18);
  border: none;
  font-size: 15px;
  cursor: pointer;
  opacity: 1;
}
.Add:hover {
  opacity: 0.9;
  background-color: rgb(18, 180, 18);
}
.Add:active{
  opacity: 0.4;
}
.Add:hover {
  opacity: 0.9;
}
li{
  margin-top: 10px;
}

